
#conocimientos {
  margin-bottom: 5rem;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


.waves-conocimientos {
  position: relative;
  width: 100%;
  height: 15vh;
  min-height: 150px;
  max-height: 200px;
}

/* Animation */



 .olas-conocimientos {
   position: relative;
   margin-top: -6.5rem;
 }

 .parallax > use {
   animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
 }

 .parallax > use:nth-child(1) {
   animation-delay: -2s;
   animation-duration: 7s;
 }

 .parallax > use:nth-child(2) {
   animation-delay: -3s;
   animation-duration: 10s;
 }

 .parallax > use:nth-child(3) {
   animation-delay: -4s;
   animation-duration: 13s;
 }

 .parallax > use:nth-child(4) {
   animation-delay: -5s;
   animation-duration: 20s;
 }

 @keyframes move-forever {
   0% {
     transform: translate3d(-90px, 0, 0);
   }
   100% {
     transform: translate3d(85px, 0, 0);
   }
 }


/*Shrinking for mobile*/
@media (min-width: 280px) {
  .waves-conocimientos {
    height: 80px;
    min-height: 80px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: -5rem;
   }
   .contacto img {
    margin: 2rem;
    width: 5rem;
    transition: transform 0.3s ease;
   }
   .conocimientos .conocimiento img{
    width: 1rem;
  }

}

@media (min-width: 360px) {
  .waves-conocimientos {
    height: 100px;
    min-height: 100px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas {
    position: relative;
    margin-top: 2rem;
   }
   .conocimientos .conocimiento img{
    width: 1rem;
  }
}

@media (min-width: 375px) {
  .waves-conocimientos {
    height: 100px;
    min-height: 100px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos{
    position: relative;
    margin-top: -7rem;
   }

}
@media (min-width: 768px) {
  .waves-conocimientos {
    height: 150px;
    min-height: 150px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: -5rem;
   }
}

@media (min-width: 1024px) {
  .waves-conocimientos {
    height: 250px;
    min-height: 250px;
  }
  .content {
    height: 100vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: -2rem;
   }

  .titulo-conocimiento {
    position: relative;
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
    margin-bottom: 2rem;
  }
  .titulo-conocimiento h1 {
   font-size: 3rem;
   margin-left: 2rem;
  }
  .titulo-conocimiento p {
    font-size: 2rem;
    font-weight: lighter;
   }
}


@media (min-width: 1280px) {
  .waves-conocimientos {
    height: 200px;
    min-height: 200px;
  }
  .content {
    height: 100vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: -2.9rem;
   }

   .titulo-conocimiento {
    position: relative;
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
    margin-bottom: 3rem;
  }
  .titulo-conocimiento h1 {
   font-size: 3rem;
   margin-left: 2rem;
  }
  .titulo-conocimiento p {
    font-size: 2rem;
    font-weight: lighter;
   }


}

@media (min-width: 3840px) {
  .waves-conocimientos {
    height: 400px;
    min-height: 400px;
  }
  .content {
    height: 100vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: 5rem;
   }
}


 .titulo-conocimiento {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size: xx-large;
  margin-top: 2rem;
}

.titulo-conocimiento h1 {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: bold;
  color: rgb(185, 210, 233);

}
.titulo-conocimiento p {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-size:small;
  color: rgb(185, 210, 233);
}


.conocimientos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


.conocimientos .conocimiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 5rem;
  text-align: center;
}

.conocimientos .conocimiento img {
  width: 8rem;
  transition: transform 0.3s ease;
}

.conocimientos .conocimiento:hover img {
  transform: scale(1.2);
}

.conocimientos .conocimiento h3 {
  font-size: 2rem;
  text-align: center;
}


.proyectos {
  margin-top: 5rem;

}
