
  <section class="conocimientos" id="conocimientos" >

    <div class="titulo-conocimiento">
      <h1>Conocimientos</h1>
      <p>Alguno de los iconos de conocimiento pueden mostrar su certificacion.</p>
    </div>


    <div class="conocimientos">

      <div class="conocimiento">
        <img src="https://AleVinokur.github.io/Portafolio/assets/img/4373284_angular_logo_logos_icon.ico" alt="Angular">
        <h3>Angular</h3>
      </div>
      <div class="conocimiento">
        <a href="https://AleVinokur.github.io/Portafolio/assets/certificados/FT AR - Certificado.pdf" target="_blank">
          <img class="JS" src="https://AleVinokur.github.io/Portafolio/assets/img/js.ico" alt="JS">
        </a>
        <h3>JavaScript</h3>
      </div>
      <div class="conocimiento">
        <img src="https://AleVinokur.github.io/Portafolio/assets/img/4518857_python_icon.ico" alt="Laravel">
        <h3>Laravel</h3>
      </div>
      <div class="conocimiento">
        <img class="php" src="https://AleVinokur.github.io/Portafolio/assets/img/php.ico" alt="PHP">
        <h3>PHP</h3>
      </div>
      <div class="conocimiento">
        <img src="https://AleVinokur.github.io/Portafolio/assets/img/servidor-sql.ico" alt="SQL">
        <h3>SQL</h3>
      </div>
      <div class="conocimiento">
        <img src="https://AleVinokur.github.io/Portafolio/assets/img/html5.ico" alt="HTML5">
        <h3>HTML5</h3>
      </div>
      <div class="conocimiento">
        <img src="https://AleVinokur.github.io/Portafolio/assets/img/4375066_logo_sass_icon.ico" alt="SASS">
        <h3>SASS</h3>
      </div>
      <div class="conocimiento">
        <img class="servidores-ico" src="https://AleVinokur.github.io/Portafolio/assets/img/almacenamiento-del-servidor.ico" alt="Servidores">
        <h3>Servidores</h3>
      </div>
      <div class="conocimiento">
        <a href="https://AleVinokur.github.io/Portafolio/assets/certificados/Certificado Ciberseguridad- Alejnadro Vinokur.pdf" target="_blank">
          <img class="ciberseguridad" src="https://AleVinokur.github.io/Portafolio/assets/img/icons8-cyber-security-100.ico" alt="Ciberseguridad"></a>
          <h3>Ciberseguridad</h3>
      </div>

    </div>

  </section>

  <div class="olas-conocimientos mt-20">
    <svg class="waves-conocimientos" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.6" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.4)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.2)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
