@media (min-width: 280px) {
  .waves-conocimientos {
    height: 80px;
    min-height: 80px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: -5rem;
   }
   .contacto img {
    margin: 2rem;
    width: 5rem;
    transition: transform 0.3s ease;
   }
   .conocimientos .conocimiento img{
    width: 3rem;
  }
  .conocimientos .conocimiento {
    width: calc(100% / 2);
   }

}

@media (min-width: 360px) {
  .waves-conocimientos {
    height: 100px;
    min-height: 100px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas {
    position: relative;
    margin-top: 2rem;
   }
   .conocimientos .conocimiento img{
    width: 3.5rem;
  }
  .conocimientos .conocimiento {
    width: calc(100% / 2);
   }
}

@media (min-width: 375px) {
  .waves-conocimientos {
    height: 100px;
    min-height: 100px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos{
    position: relative;
    margin-top: -7rem;
   }
   .conocimientos .conocimiento img{
    width: 3.5rem;
  }

  .titulo-conocimiento h1 {
    font-size: 2rem;
    margin-left: 4.5rem;
   }
   .titulo-conocimiento p {
     font-size: 0.8rem;
     font-weight: lighter;
    }
    .conocimientos .conocimiento {
      width: calc(100% / 2);
     }
}
@media (min-width: 768px) {
  .waves-conocimientos {
    height: 150px;
    min-height: 150px;
  }
  .content {
    height: 60vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: 6rem;
   }

  .titulo-conocimiento h1 {
    font-size: 3rem;
    margin-left: 6rem;
   }
   .titulo-conocimiento p {
     font-size: 1rem;
     font-weight: lighter;
    }
   .conocimientos .conocimiento img{
    width: 5rem;
  }
  .conocimientos .conocimiento {
    width: calc(100% / 3);
   }
}

@media (min-width: 1024px) {
  .waves-conocimientos {
    height: 250px;
    min-height: 250px;
  }
  .content {
    height: 100vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: 6rem;
   }

  .titulo-conocimiento {
    position: relative;
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
    margin-bottom: 2rem;
  }
  .titulo-conocimiento h1 {
   font-size: 3rem;
   margin-left: 13rem;
  }
  .titulo-conocimiento p {
    font-size: 1.5rem;
    font-weight: lighter;
   }
   .conocimientos .conocimiento img{
    width: 6rem;
  }
}


@media (min-width: 1280px) {
  .waves-conocimientos {
    height: 200px;
    min-height: 200px;
  }
  .content {
    height: 100vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: -2.9rem;
   }

  .titulo-conocimiento h1 {
   font-size: 3rem;
   margin-left: 20rem;
  }
  .titulo-conocimiento p {
    font-size: 2rem;
    font-weight: lighter;
   }
   .conocimientos .conocimiento img{
    width: 5rem;
  }
}

@media (min-width: 1920px) {
  .waves-conocimientos {
    height: 200px;
    min-height: 200px;
  }
  .content {
    height: 100vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: -3.5rem;
   }

  .titulo-conocimiento h1 {
   font-size: 2rem;
   margin-left: 5rem;
   margin-top: -15rem;
  }
  .titulo-conocimiento p {
    font-size: 1rem;
    margin-left:-2rem;
    margin-top: 1rem;
    font-weight: lighter;
   }
   .conocimientos .conocimiento {
    width: calc(100% / 3);
   }
   .conocimientos .conocimiento img{
    width: 6rem;
  }
}
@media (min-width: 3840px) {
  .waves-conocimientos {
    height: 400px;
    min-height: 400px;
  }
  .content {
    height: 100vh;
  }
  h1 {
    font-size: 24px;
  }
  .olas-conocimientos {
    position: relative;
    margin-top: 5rem;
   }
   .conocimientos .conocimiento img{
    width: 14rem;
  }
  .titulo-conocimiento h1 {
   font-size: 6rem;
   margin-left: 28rem;
  }
  .titulo-conocimiento p {
    font-size: 3rem;
    font-weight: lighter;
   }
   .conocimientos .conocimiento {
    width: calc(100% / 4);
   }
}
