<body>
  <div class="clima-proyecto">

    <h2>Clima Actual</h2>
    <div class="buscador">
      <input type="text" class="form-control form-control-sm" [(ngModel)]="busqueda" placeholder="Buscar ciudad">
    <button class="buscar-btn btn" (click)="buscar()"><img src="https://raw.githubusercontent.com/AleVinokur/Portafolio/main/src/assets/img/lupa.ico" alt="search"></button>
    </div>
    <div class="clima-recuadro">
      <div class="wheater-head">
        <div class="time" *ngIf="hora !== null">{{ "Hora: " + hora }}
        <div class="actualizar-wheater">
          <button class="actualizar-button" (click)="actualizarDatos()"></button>
        </div>
         </div>
        <div class="location">{{ubicacion}}</div>
      </div>

      <div class="clima-logo">
        <img [src]="imagenClima" alt="Imagen Clima">
      </div>

      <div class="weather">
        <div class="tiempo">
          <div class="temperatura">{{ "Temperatura: " + temperatura + " " + "°C" }}</div>
          <div class="descripcion">{{descripcion}}</div>
        </div>
        <div class="wind">
          <div class="velocidad-viento">{{"Viento: " + windSpeedValue}} {{windSpeedUnit}}</div>
          <div class="direccion-viento">{{"Direccion: " + windDirection}}</div>
        </div>

      </div>
    </div>
  </div>
</body>
