
.clima-recuadro {
  position: relative;
  background-color: rgba(242, 242, 242, 0.261);
  border: 1px solid #ccc;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  margin: 5rem;
  width: 30rem;
  height: 25rem;
  margin-top: 10rem;
  margin-left: 55rem;
}

.location {
  color: azure;
  position: absolute;
  top: 10px;
  left: 10px;
}

.time {
  color: azure;
  position: absolute;
  top: 10px;
  right: 10px;
}
.weather-head {
  padding-bottom: 5rem;
}
.weather {
  margin-top: 2rem;
  color: azure;
  display: block;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.descripcion {
  margin-left: 1.5rem;
}
