body {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(145, 77, 247, 1) 35%, rgba(0, 67, 153, 1) 71%, rgba(0, 0, 94, 1) 100%);
}

.clima-recuadro {
  position: relative;
  background-color: rgba(242, 242, 242, 0.261);
  border: 1px solid #ccc;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  max-width: 30rem;
  width: 90%;
  margin: 2rem auto;
  padding: 2rem;
}

.wheater-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.location {
  color: azure;
}

.time {
  column-gap: .5rem;
  display: flex;
  color: azure;
  align-items: center;
}
 .actualizar-button{
  margin-top: 1rem;
}


.weather {
  margin-top: 2rem;
  color: azure;
  text-align: center;
}

.actualizar-wheater {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.actualizar-button {
  background-image: url('../../assets/img/actualizado.ico');
  background-repeat: no-repeat;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.descripcion {
  margin-top: 1.5rem;
}
.clima-logo {
  display: flex;
  justify-content: center;
}
.weather {
  margin-top: 2rem;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tiempo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
}




