
  @media (min-width: 280px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 1rem;
      margin-left: 2rem;
      color: rgb(255, 255, 255);
      font-size: 2rem;
    }
    .clima-recuadro {
      width: 16.5rem;
      height: 20rem;
      margin-left: 0.5rem;
    }
    .clima-logo {
      display: flex;
      justify-content: center;
    }

    .clima-logo img {
      margin-top: 1.5rem;
      width: 3.5rem;
    }
    .weather {
      margin-top: 4rem;
      font-size: smaller;
      display: flex;
      justify-content: flex-start;
    }
    .weather .tiempo {
      margin-left: -1rem;
    }
    .weather .wind {
      margin-left: 3rem;
    }

    .buscador {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: -2rem;
    }

    .buscador input {
      max-width: 10rem;
      margin-left: 5rem;
    }

    .buscador img {
      width: 3rem;
    }
  }

  @media (min-width: 360px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 2rem;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
    }
    .clima-recuadro {
      width: 21rem;
      height: 20rem;
      margin-left: 1rem;
    }

    .clima-logo {
      display: flex;
      justify-content: center;
    }

    .clima-logo img {
      margin-top: 2.5rem;
      width: 5rem;
    }
    .weather {
      margin-top: 4rem;
      font-size: small;
      display: flex;
      justify-content: flex-start;
    }
    .weather .tiempo {
      margin-left: -1rem;
    }
    .weather .wind {
      margin-left: 6rem;
    }
  }


  @media (min-width: 375px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 2rem;
    }
    .clima-recuadro {
      width: 22rem;
      height: 20rem;
      margin-left: 0.8rem;
    }
    .buscador input {
      max-width: 15rem;
      margin-left: 5rem;
    }
    .weather {
      margin-top: 2rem;
      font-size: small;
      display: flex;
      justify-content: flex-start;
    }
    .weather .tiempo {
      margin-left: -1rem;
      width: 12rem;
    }
    .weather .wind {
      margin-left: 4rem;
      width: 10rem;
    }
  }

  @media (min-width: 768px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 2rem;
    }
    .clima-recuadro {
      margin-top: 0.5rem;
      width: 30rem;
      height: 20rem;
      margin-left: 10rem;
    }
    .buscador input {
      margin-top: 2rem;
      max-width: 15rem;
      margin-left: -5.2rem;
    }
    .weather {
      margin-top: 4rem;
      font-size: large;
      display: flex;
      justify-content: space-around;
    }

  }

  @media (min-width: 1024px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 3rem;
      font-weight: lighter;
    }
    .buscador input {
      margin-top: 2rem;
      max-width: 20rem;
      margin-left: -15rem;
    }
    .clima-recuadro {
      font-size: larger;
      margin-top: 0.5rem;
      width: 30rem;
      height: 20rem;
      margin-left: 10rem;
    }

  }

  @media (min-width: 1024px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 3rem;
      font-weight: lighter;
    }
    .buscador input {
      margin-top: 2rem;
      max-width: 20rem;
      margin-left: -15rem;
    }
    .clima-recuadro {
      font-size: larger;
      margin-top: 0.5rem;
      width: 30rem;
      height: 20rem;
      margin-left: 10rem;
    }

  }


  @media (min-width: 1280px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 3rem;
      font-weight: lighter;
    }
    .buscador input {
      margin-top: 2rem;
      max-width: 20rem;
      margin-left: -30rem;
    }
    .clima-recuadro {
      font-size: larger;
      margin-top: 0.5rem;
      width: 30rem;
      height: 20rem;
      margin-left: 5rem;
    }
  }

  @media (min-width: 1366px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 3rem;
      font-weight: lighter;
    }
    .buscador input {
      margin-top: 2rem;
      max-width: 20rem;
      margin-left: -30rem;
    }
    .clima-recuadro {
      font-size: larger;
      margin-top: 0.5rem;
      width: 30rem;
      height: 20rem;
      margin-left: 5rem;
    }
  }

  @media (min-width: 1920px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 3rem;
      font-weight: lighter;
    }
    .buscador input {
      margin-top: 1.5rem;
      max-width: 20rem;
      margin-left: -70rem;
    }
    .buscador img {
      margin-top: 1rem;
    }
    .clima-recuadro {
      font-size: larger;
      margin-top: 0.5rem;
      width: 30rem;
      height: 20rem;
      margin-left: 5rem;
    }
    .clima-logo img {
      width: 6rem;
      margin-top: 1.5rem;
    }
  }
  @media (min-width: 3840px) {
    .clima-proyecto h2{
      position: relative;
      margin-top: 4rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      color: rgb(255, 255, 255);
      font-size: 4rem;
      font-weight: lighter;
    }
    .clima-recuadro {
      width: 16.5rem;
      height: 20rem;
      margin-left: 0.5rem;
    }
    .clima-logo {
      display: flex;
      justify-content: center;
    }
    .clima-logo img {
      width: 6rem;
    }
    .weather {
      margin-top: 5rem;
      font-size: x-large;
    }
    .tiempo {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .wind {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .buscador input {
      margin-top: 4rem;
      max-width: 25rem;
      margin-left: -175rem;
      height: 3rem;
    }
    .buscador img {
      margin-left: 1rem;
      margin-top: 2rem;
      width: 5rem;
    }
    .clima-recuadro {
      font-size: 2rem;
      margin-top: 1rem;
      width: 40rem;
      height: 30rem;
      margin-left: 5rem;
    }
  }
