/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


.btn-color {
  color: rgb(255, 255, 255);
}
.nombre {
  color:rgb(255, 255, 255);
  font-family:'Roboto', sans-serif;
  font-weight: bold;

}


.nombre h2 {
  font-size: larger;
}


.navbar {
background-color: rgba(54, 19, 123, 0.687);
}
.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.hero {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(53, 50, 71);
}


.hero-div {
  text-align: center;
}

.perfil {
  width: 200px;
  height: 200px;
  margin: 20px;
}



.contacto img {
  margin: 2rem;
  width: 5rem;
  transition: transform 0.3s ease;
}


.contacto img:hover {
  transform: scale(1.2);
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}

.contacto {
  display: flex;
  justify-content: center;
}

.contacto-img {
  margin: 2rem;
  width: 5rem;
  position: relative;
  z-index: 1;
}

.contacto-img::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.3s ease;
  z-index: -1;
}

.contacto-img:hover::before {
  transform: scaleY(1);
}

.contacto-img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contacto-img:hover img {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
