<nav class="navbar navbar-expand-lg navbar-light  justify-content-end">
  <div class="nav-btn">
    <button class="btn btn-color">Inicio</button>
    <button class="btn btn-color">conocimientos</button>
    <button class="btn btn-color">proyectos</button>
    <button class="btn btn-color">contacto</button>
  </div>
</nav>

<section class="hero" id="particles-js">
  <div id class="hero-div d-flex flex-column justify-content-center align-items-center">
    <img class="perfil rounded-circle" src="../../assets/img/Profile_1.webp" alt="perfil">
    <div class="nombre">
      <h1>Alejandro Vinokur</h1>
      <h2> Desarrollador &nbsp;<span class="icon-text"><i class="fas fa-code"></i></span></h2>
    </div>

    <div class="contacto ">
      <a href="https://www.linkedin.com/in/alejandro-vinokur-758596165/" target="_blank">
        <img class="mr2" src="../../assets/img/linkedin.ico" alt="linkedin">
      </a>
      <a href="https://github.com/AleVinokur" target="_blank">
        <img class="mr2" src="../../assets/img/github.ico" alt="github">
      </a>
      <a href="mailto:alevinokur@gmail.com">
        <img class="mr2" src="../../assets/img/gmail.ico" alt="Gmail">
      </a>
    </div>

  </div>
</section>

<section class="conocimientos" >



</section>
