
<div class="header">
  <details class="navbar">
    <summary></summary>
    <nav class="menu ">
      <a href="#hero">Inicio</a>
      <a href="#conocimientos">Conocimientos</a>
      <a href="#proyectos">Proyectos</a>
      <a href="#contacto">Contacto</a>
    </nav>
  </details>

<div>
  <section class="hero" id="hero">

    <div  class="hero-div d-flex flex-column justify-content-center align-items-center" >
      <img class="perfil rounded-circle" src="../../assets/img/Profile_1.webp" alt="perfil">
      <div class="nombre">
        <h1>Alejandro Vinokur</h1>
        <h2> Desarrollador &nbsp;<span class="icon-text"><i class="fas fa-code"></i></span></h2>
      </div>

      <div class="contacto ">
        <a href="https://www.linkedin.com/in/alejandro-vinokur-758596165/" target="_blank">
          <img class=" contacto-img" src="../../assets/img/linkedin.ico" alt="linkedin">
        </a>
        <a href="https://github.com/AleVinokur" target="_blank">
          <img class=" contacto-img" src="../../assets/img/github.ico" alt="github">
        </a>
        <a href="mailto:alevinokur@gmail.com">
          <img class=" contacto-img" src="../../assets/img/gmail.ico" alt="Gmail">
        </a>
      </div>

    </div>
  </section>

    <svg class="waves mb-30" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
      <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
      <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
  </div>


<section class="conocimientos" id="conocimientos" >

  <div class="titulo-conocimiento">
    <h1>Conocimientos</h1>
    <p>Alguno de los iconos de conocimiento muestran la certificacion</p>
  </div>


  <div class="conocimientos">

    <div class="conocimiento">
      <img src="../../assets/img/4373284_angular_logo_logos_icon.ico" alt="Angular">
      <h3>Angular</h3>
    </div>
    <div class="conocimiento">
      <a href="../../assets/certificados/FT AR - Certificado.pdf" target="_blank">
        <img class="JS" src="../../assets/img/js.ico" alt="JS">
      </a>
      <h3>JavaScript</h3>
    </div>
    <div class="conocimiento">
      <img class="php" src="../../assets/img/php.ico" alt="PHP">
      <h3>PHP</h3>
    </div>
    <div class="conocimiento">
      <img src="../../assets/img/4518857_python_icon.ico" alt="Python">
      <h3>Python</h3>
    </div>
    <div class="conocimiento">
      <img src="../../assets/img/servidor-sql.ico" alt="SQL">
      <h3>SQL</h3>
    </div>
    <div class="conocimiento">
      <img src="../../assets/img/html5.ico" alt="HTML5">
      <h3>HTML5</h3>
    </div>
    <div class="conocimiento">
      <img src="../../assets/img/4375066_logo_sass_icon.ico" alt="SASS">
      <h3>SASS</h3>
    </div>
    <div class="conocimiento">
      <img class="servidores-ico" src="../../assets/img/almacenamiento-del-servidor.ico" alt="Servidores">
      <h3>Servidores</h3>
    </div>
    <div class="conocimiento">
      <a href="../../assets/certificados/Certificado Ciberseguridad- Alejnadro Vinokur.pdf" target="_blank">
        <img class="ciberseguridad" src="../../assets/img/icons8-cyber-security-100.ico" alt="Ciberseguridad"></a>
        <h3>Ciberseguridad</h3>
    </div>

  </div>

</section>
