<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portafolio</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
    <div class="nav-btn">
      <button class="btn">Inicio</button>
      <button class="btn">proyectos</button>
      <button class="btn">conocimientos</button>
      <button class="btn">contacto</button>
    </div>
  </nav>

      <section class="hero" id="hero">
        <div class=" hero-div d-flex flex-column justify-content-center align-items-center">
          <img class="perfil rounded-circle" src="../../assets/img/Profile_1.webp" alt="perfil">
          <h1>Alejandro Vinokur</h1>
          <h2>Desarrollador</h2>
        </div>
      </section>



      <script src="./particles.min.js"></script>

</body>
</html>
